<h1 class="display-4">Question List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>question</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <% question.forEach(function(question){ %>
            <tr>
                <td><%= question.questionDescription %></td>

                <td>
                  1. <%= question.option1 %><br/>
                  2. <%= question.option2 %><br/>
                  3. <%= question.option3 %><br/>
                  4. <%= question.option4 %>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
